interactions:
- request:
    body: null
    headers:
      subscription-key:
      - DUMMY
    method: GET
    uri: https://data.trade.gov/consolidated_screening_list/v1/search?name=ACME&size=2
  response:
    body:
      string: '{"results": [{"id": "E1", "name": "Acme Alpha", "country": "US", "url": "https://example.com/alpha"}, {"id": "E2", "name": "Acme Beta", "country": "CA", "url": "https://example.com/beta"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://data.trade.gov/consolidated_screening_list/v1/search?name=ACME&size=2
version: 1
